@charset "utf-8";

/* name属性が IEMAIL の入力欄に適用 */
input[name="IEMAIL"] {
    -webkit-text-security: none !important;
    text-security: none !important;
    background-color: #ffebee !important; /* テスト確認用：薄いピンク色 */
}
